/* colors */

:root {
  --color-active-navigation: 215, 70, 51;
  /* Use normal text color (like h3, ..) instead of primary color */
  --color-h1: var(--color-text-base);
  --color-h2: var(--color-text-base);
  /* Use softer blue from bootstrap's default info color */
  --color-info: 23, 162, 184;
  --header-height: 0px;
}

code {
  color: rgb(215, 70, 51);
}


/* body {
  padding-top: 0px;
} */

.navbar-light .navbar-nav .nav-link {
  font-size: 1.1em;
}


/* no right padding -> reserve place for uncollapse icon if needed */
.bd-sidebar .nav ul {
  padding: 0 0 0 1.5rem;
}


svg {
  vertical-align: inherit;
}


.navbar-brand {
  height: auto;
  width: auto;
}


a.navbar-brand img {
  max-height: 15vh;
  max-width: 100%;
}

nav.bd-links p.caption {
  font-size:0.9em;
  text-transform:uppercase;
  font-weight:bold;
  position:relative;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  padding: 0 1.5rem;
 }
 
 
nav.bd-links p.caption:first-child {
  margin-top:0
}

.bd-links {
  max-height: calc(100vh - 260px);
  overflow-y: auto;
}

.bd-toc-item .reference.external:after {
  content:url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23607D8B' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M0 0h24v24H0z' stroke='none'/%3E%3Cpath d='M11 7H6a2 2 0 00-2 2v9a2 2 0 002 2h9a2 2 0 002-2v-5M10 14L20 4M15 4h5v5'/%3E%3C/svg%3E");
  margin:0 .25rem;
  vertical-align:center
 }
 
a.nav-link {
  padding: 0 15px;
  color: var(--color-link);
 }
